{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Cadastro{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'body' %}
    <div class="form-container">
        <h2>Cadastro</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <input type="password" name="confirm_password" placeholder="Confirmar Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
        <p style="text-align:center">
            Já tem conta? <a href="{% url 'login' %}">Entrar</a>
        </p>
    </div>
{% endblock %}









