{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Cadastrar Cliente{% endblock %}

{% block 'head' %}{% endblock %}

{% block 'body' %}
    <h1>Cadastrar Cliente</h1>
    {% if erro %}
        <p class="error">{{ erro }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Nome:<br><input type="text" name="nome" required></label>
        <label>CPF/CNPJ:<br><input type="text" name="cpf_cnpj" maxlength="14" required></label>
        <label>Telefone:<br><input type="text" name="telefone"></label>
        <label>Informações:<br><textarea name="info"></textarea></label>
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'cadastros_home' %}">Voltar</a>
{% endblock %}